a {
  color: black;
}
i {
  font-style: normal;
}
img,
input {
  vertical-align: middle;
  border: none;
}
body {
  font-size: .14rem;
  position: relative;
  padding-top: .49rem;
  background: #fff;
}
li {
  list-style: none;
}
* {
  padding: 0;
  margin: 0;
}
input {
  line-height: normal;
  border: 0;
  outline: 0;
}
#header {
  background-color: #006699;
  display: flex;
  /* 给父元素设置padding把内容往中间挤  2边如果有图标 使用定位 左边定位在左边 右边定位在右边 */
  padding-left: 0.45rem;
  padding-right: 0.45rem;
  width: 100vw;
  height: 0.45rem;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
#header h4 {
  margin: 0;
  width: 2.85rem;
  text-align: center;
  line-height: 0.45rem;
  font-weight: normal;
}
#header form {
  width: 100%;
  padding-top: 0.05rem;
}
#header form input {
  background-color: #fff;
  text-align: left;
  /* 注意默认有一个margin去掉 */
  margin-bottom: 0;
  font-size: 0.14rem;
}
#header a {
  width: 0.45rem;
  height: 0.45rem;
  position: absolute;
  top: 0;
  text-align: center;
  line-height: 0.45rem;
  color: #fff;
}
#header a:first-child {
  left: 0;
  font-size: .28rem;
}
#header a:last-child {
  right: 0;
}
#header a img {
  width: .32rem;
  height: .32rem;
}
/* 底部公共样式 */
#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 1rem;
  z-index: 999;
  background-color: #232a34;
}
#footer .footer-top {
  border-top: .01rem solid #c4c4c4;
  border-bottom: .01rem solid #c4c4c4;
  height: 0.34rem;
  line-height: 0.34rem;
  display: flex;
}
#footer .footer-top a {
  display: block;
  width: 30%;
  height: 100%;
  font-size: .14rem;
  text-align: center;
  border-left: .01rem solid #c4c4c4;
  color: #fff;
}
#footer .footer-top a img {
  display: inline-block;
  width: 0.14rem;
  margin-top: -0.02rem;
}
#footer .footer {
  text-align: center;
  font-size: .12rem;
  color: #666;
  padding: .15rem 0 ;
}
#footer .footer > p {
  font-size: .12rem;
}
#footer .footer > p > .red {
  font-size: .14rem;
  color: #ff4e49;
}
/* 火箭样式 */
#rtt {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 45px;
  text-align: center;
  line-height: 50px;
  font-weight: 800;
  color: #fff;
}
.font-icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/* 乐淘的主题颜色 */
/* a的颜色 */
/* 边框颜色 */
* {
  margin: 0rem;
  padding: 0rem;
}
html {
  font-size: 100px;
}
body {
  font-size: 0.16rem;
}
img {
  vertical-align: middle;
}
a {
  color: #666;
}
#header {
  display: flex;
  background-color: #fff;
  height: 45px;
}
#header .logo {
  width: 80px;
  padding-top: 10px;
}
#header .logo img {
  width: 100%;
}
#header form {
  flex: 1;
  padding-top: 10px;
}
#header form > input {
  width: 100%;
  height: 30px;
  border: 0px;
  border-radius: 15px;
  background-color: #eee;
}
#header .download {
  width: 60px;
  line-height: 45px;
  text-align: center;
  font-size: 14px;
  color: red;
}
#main #nav a {
  display: block;
  text-align: center;
}
#main #nav a img {
  width: 70px;
  height: 70px;
}
#main #productList .content ul li a {
  display: flex;
}
#main #productList .content ul li a .left {
  width: 120px;
}
#main #productList .content ul li a .left img {
  width: 106px;
}
#main #productList .content ul li a .right {
  flex: 1;
}
