<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>海淘折扣</title>

    <!-- 引入MUI的CSS文件 -->
    <link rel="stylesheet" href="lib/mui/css/mui.css">
    <!-- 引入字体图标fontawsome字体图标库的CSS文件 -->
    <link rel="stylesheet" href="lib/fontAwesome/css/font-awesome.css">
    <!-- 引入自己的less文件 注意 stylesheet/less-->
    <link rel="stylesheet/less" href="less/saveMoney.less">
    <!-- 引入less.js的编译器文件 编译less代码 要编译index.less 依赖index.less  影响页面渲染优先执行 -->
    <script src="lib/less/less.js"></script>
    <!-- 引入rem.js屏幕适配的JS代码 -->
    <script src="js/rem.js"></script>
</head>

<body>
    <!-- 头部区域 -->
    <header id="header">
        <a href="javascript:history.back();" class="fa">&lt;</a>
        <h4>省钱控-最新优惠</h4>
        <a href="#" class="fa">
            <img src="images/header_app.png" alt="">
        </a>
        </div>
    </header>
    <!-- 主体区域 -->
    <main id="main">
        <div class="box">
            <ul>
                <li>
                    <a href="#">
                        <div class="tu-left"> <img src="http://cacheimg.manmanbuy.com/r_img/cacheimg.aspx?width=600&amp;imgurl=http://a.manmanbuy.com:8013/cuxiaoPic/201610/201610001412282758.jpg"
                                alt="移动端凑单品：海天 鲜味 生抽 1.28L"> </div>
                        <div class="text-right">
                            <div class="text-title">
                                <span>移动端凑单品：海天 鲜味 生抽 1.28L</span>
                                <span class="text-l">10.9元</span>
                            </div>
                            <div class="text-jd">
                                <div class="text-jd-l">京东商城 | <span>10-25 14:10</span></div>
                                <div class="text-jd-r"><i class="f_r first-i">有1人评论</i></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="tu-left"> <img src="http://cacheimg.manmanbuy.com/r_img/cacheimg.aspx?width=600&amp;imgurl=http://a.manmanbuy.com:8013/cuxiaoPic/201610/2016100013150933070.jpg"
                                alt="HG 华光 QH0190 手持电熨斗 "> </div>
                        <div class="text-right">
                            <div class="text-title">
                                <span>HG 华光 QH0190 手持电熨斗</span>
                                <span class="text-l">39元包邮（99-60）</span>
                            </div>
                            <div class="text-jd">
                                <div class="text-jd-l">天猫旗舰店 | <span>10-25 13:11</span></div>
                                <div class="text-jd-r"><i class="f_r first-i">有4人评论</i></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="tu-left"> <img src="http://cacheimg.manmanbuy.com/r_img/cacheimg.aspx?width=600&amp;imgurl=http://a.manmanbuy.com:8013/cuxiaoPic/201610/2016100013150933070.jpg"
                                alt="HG 华光 QH0190 手持电熨斗 "> </div>
                        <div class="text-right">
                            <div class="text-title">
                                <span>HG 华光 QH0190 手持电熨斗</span>
                                <span class="text-l">39元包邮（99-60）</span>
                            </div>
                            <div class="text-jd">
                                <div class="text-jd-l">天猫旗舰店 | <span>10-25 13:11</span></div>
                                <div class="text-jd-r"><i class="f_r first-i">有4人评论</i></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="tu-left"> <img src="http://cacheimg.manmanbuy.com/r_img/cacheimg.aspx?width=600&amp;imgurl=http://a.manmanbuy.com:8013/cuxiaoPic/201610/2016100013150933070.jpg"
                                alt="HG 华光 QH0190 手持电熨斗 "> </div>
                        <div class="text-right">
                            <div class="text-title">
                                <span>HG 华光 QH0190 手持电熨斗</span>
                                <span class="text-l">39元包邮（99-60）</span>
                            </div>
                            <div class="text-jd">
                                <div class="text-jd-l">天猫旗舰店 | <span>10-25 13:11</span></div>
                                <div class="text-jd-r"><i class="f_r first-i">有4人评论</i></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="tu-left"> <img src="http://cacheimg.manmanbuy.com/r_img/cacheimg.aspx?width=600&amp;imgurl=http://a.manmanbuy.com:8013/cuxiaoPic/201610/2016100013150933070.jpg"
                                alt="HG 华光 QH0190 手持电熨斗 "> </div>
                        <div class="text-right">
                            <div class="text-title">
                                <span>HG 华光 QH0190 手持电熨斗</span>
                                <span class="text-l">39元包邮（99-60）</span>
                            </div>
                            <div class="text-jd">
                                <div class="text-jd-l">天猫旗舰店 | <span>10-25 13:11</span></div>
                                <div class="text-jd-r"><i class="f_r first-i">有4人评论</i></div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="footer-bottom clearfix">
                <span class="w33">
                    <a href="javascript:;" class="btn1">上一页</a>
                </span>
                <span class="w33">
                    <select name="" id="select">
                        <option value="1">1/14</option>
                        <option value="2">2/14</option>
                        <option value="3">3/14</option>
                        <option value="4">4/14</option>
                    </select> 
                </span>
                <span class="w33">
                    <a href="javascript:;" class="btn2">下一页</a>
                </span>
            </div>
        </div>
    </main>
    <!-- 底部区域 -->
    <footer id="footer">
        <div class="footer-top">
            <a href="#">登录</a>
            <a href="#">注册</a>
            <a href="index.html">首页</a>
        </div>
        <div class="footer">
            <p>
                <a href="#" class="red">手机APP下载</a>
                <i>慢慢买手机版-- 掌上比价平台</i>
                <br>
                <i>m.manmanbuy.com</i>
            </p>

        </div>
    </footer>


    <script type="text/template" id="shop"><% for(var i=0;i< result.length;i++){%>
        <li>
            <a href="saveSale.html?productid=<%=result[i].productId%>">
                <div class="tu-left"><%=# result[i].productImgSm%></div>
                <div class="text-right">
                    <div class="text-title">
                        <span><%=result[i].productName%></span>
                        <span class="text-l"><%=result[i].productPinkage%> </span>
                    </div>
                    <div class="text-jd">
                        <div class="text-jd-l"><%=result[i].productFrom%> | 
                            <span><%=result[i].productTime%></span>
                        </div>
                        <div class="text-jd-r">
                            <i class="f_r first-i"><%=result[i].productComCount%></i>
                        </div>
                    </div>
                </div>
            </a>
        </li><%}%>
    </script>
    <script type="text/template" id="option"><% for(var j=0;j<=items-1;j++){%>
        <option value="<%=j+1%>"><%=j+1%>/<%=items%></option><%}%>
    </script>

   

    <!-- 引入zepto的JS 发送请求之类的 和 获取元素 添加事件之类 -->
    <script src="lib/zepto/zepto.min.js"></script>
    <!-- 引入MUI的js -->
    <script src="lib/mui/js/mui.js"></script>
    <!-- 引入模板引擎 artTemplate template-web.js最新4.0简洁版本-->
    <script src="lib/artTemplate/template-web.js"></script>
    <!-- 引入自己的JS包 自己的代码放在最后面 -->
    <script src="js/saveMoney.js"></script>
</body>

</html>